---
layout: home
---

<header class="home-header grey">
  <div class="home-header-content wrapper">
    {% for home in site.home %}
      <div class="profile-image"><img src="{{ home.profileimage }}" /img></div>
      <div class="profile-text">
        <h1>{{ home.name }}</h1>
        <h2>{{ home.title }}</h2>
      </div>
    {% endfor %}
  </div>
</header>

<div class="page-content">
  <div class="wrapper">
    <div class="home">
      <div class="post">
        {% for home in site.home %}
          <article class="post-content">
            {{ home.content | markdownify }}
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
